* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: inline-block;
  height: 80px;
  width: 100vw;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
  align-items: center;
  color: blue;
  font-family: sans-serif;
  background-color: cyan;
}

p {
  display: flex;
  position: absolute;
  left: 10px;
  font-size: 26px;
}

span {
  display: flex;
  position: relative;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

img {
  display: flex;
  position: relative;
  max-height: 100%;
  min-width: 100vw;
  overflow: hidden;
  opacity: .9;
}

h1 {
  display: flex;
  position: absolute;
  font-family: sans-serif;
  color: rgb(235, 39, 8);
  top: 80%;
  left: 30%;
  z-index: 1;
}

h2 {
  display: flex;
  font-family: sans-serif;
  color: blueviolet;
}

