* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(../img/Ocean.jpg);
}

.home {
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 60px;
  color: rgb(235, 39, 8);
  margin: 80px 0;
  z-index: 1;
}

div.about {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  background-color: chartreuse;
  margin: 80px 0;
}

img.about {
  width: 800px;
  height: 400px;
}

h1.about {
  display: flex;
  position: absolute;
  align-items: center;
  color: rgb(8, 8, 240);
  font-size: 60px;
  margin-top: 1%;
  margin-right: 12%;
}

h3.about {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

div.startPage {
  display: flex;
  flex-direction: column;
  position: relative;
}

h4.home {
  display: flex;
  flex-direction: row;
  color: rgb(205, 2, 29);
  padding-left: 10%;
}

h4.home p {
  margin-right: 200px;
  color: rgb(235, 10, 175);
}

img.plan {
  display: flex;
  position: relative;
  margin-top: -1100px;
  margin-left: 20%;
  width: 1200px;
  height: 300px;
  opacity: .8;
  border-radius: 20px;
}


nav {
  
  height: 80px;
  width: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 8%;
  justify-content: center;
  align-items: center;
  color: blue; 
  background-color: rgb(246, 157, 69);
}

div.startPage {
  display: flex;
  margin-bottom: 940px;
}


p {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20px;
  font-size: 34px;
  font-weight: bold;
  color: rgb(0, 21, 255);
}

p.nav {
  left: -2%;
  font-size: 30px;
}

p.home {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

ul {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

li {
  color: rgb(255, 47, 0);
}

span {
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

img.home-img {
  display: flex;
  position: relative;
  height: 560px;
  width: 100%;
}

h2 {
  display: flex;
  font-family: sans-serif;
  color: blueviolet;
}

h3 {
  text-align: center;
  color: rgb(235, 39, 8);
  font-size: 36px;
}

.fitnessWrapper, .weightliftingWrapper, .rehabilitationWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 60px 0;
}

.weightliftingWrapper {
  height: 320px;
}




div.rehabilitation {
  width: 60%;
}

.fitness {
  display: flex;
  position: relative;
  background-color: rgb(0, 255, 115);
  gap: 8%;
}

.rehabilitation {
  display: flex;
  position: relative;
  background-color: rgb(223, 143, 243);
  gap: 3%;
}

.weightliftingWrapper {
  background-color: rgb(240, 226, 64);
}

img.fitness {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 400px;
}

img.weightlifting {
  width: 600px;
  height: 320px;
}

img.rehabilitation {
  width: 300px;
  height: 260px;
}